node_modules
dist
dist-ethers
dist-viem
dist-web3
dist-lib-ethers
dist-lib-viem
dist-lib-web3
e2e-results
test-results
playwright-report
.playwright
.cursor
chat_history
metrics.md
.env
.cache-synpress
analysis/*-executed.ipynb
analysis/*-run.ipynb